@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: auto;
  padding-bottom: 50px;
}
.settings-container{
      justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
}
.header {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.loading {
  text-align: center;
  padding: 15px;
  color: #555;
}
.page-container {
  padding-bottom: 70px;       /* Space for bottom tab */
  padding-top: 16px;
}

.bottom-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #ffffff;
  border-top: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1000;
}

.tab-item {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.tab-item:hover {
  color: #000;
}
